@import './_buttons';
@import './_global';

.container
{
  max-width: 1120px;
  margin: 0 auto;
}

.middle-btn {@include g-btn();}

.header__btn-icon {margin-right: 15px;}

.header__nav-btn {@include nav-btn();}

.header__form 
{
  position: relative;
  width: 300px;
  margin: 0 auto;

  input 
  {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid $btn-grey-color;
    border-radius: 3px;
    outline: none;
    background: $white-color;
    color: $text-color;
  }

  button 
  {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: $accent-color;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

    &::after
    {
      content: url(./../src/assets/img/search.svg);      
    }
  }
}

.header__top 
{
  min-height: 36px;
  padding: 8px 0;
  background-color: $btn-grey-color;

  .container {@include dflex();}
}
.header__location 
{
  @include dflex();
  cursor: pointer;

  img {margin-right: 8px;}
}

.header__top-menu
{
  ul 
  {
    @include dflex();

    li
    {
      display: flex;
      cursor: pointer;

      &:not(:last-child) {margin-right: 24px;}

      img {margin-left: 8px;}

      a 
      {
        color: $text-color;
      
        &:hover
        {
          color: $accent-color;
        }
      }
    }
  }  
}
.header__number 
{
  a {color: $grey-color;}
}


